<div class="card-top container">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="../assets/images/d3.png">
                <h6>All products</h6>
            </a>
        </div>
       
        <div class="item">
            <a>
                <img src="assets/images/d.png">
                <h6>Eletronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/images/d2.png">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/images/d1.png">
                <h6>Jewllery</h6>
            </a>
        </div>

    </div>

    </div>
    <hr>

    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of productList">
                <div class="card col-md-3">
                    <img src="{{item.image}}" alt="">
                    <h5 style="white-space: nowrap;overflow:hidden; text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                    <p style="white-space: nowrap;overflow:hidden; text-overflow: ellipsis;max-width: 100ch;">{{item.descriptio}}</p>
                    <p><strong>Price:</strong>${{item.price}}</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>

            </ng-container>
           
        </div>
    </div>

